<h1 mat-dialog-title>Medical Inquires</h1>
<div mat-dialog-content>

    <table>
        <tr>
            <td colspan="2">
                <mat-form-field class="example-full-width">
                    <mat-label>Please describe the symptoms</mat-label>
                    <textarea matInput required placeholder="Ex. The animal shows signs..."></textarea>
                    <mat-error>Please enter foster name</mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <p>What is the frequency of the symptoms?</p>
            </td>
            <td>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" [checked]="true">Every Hour</mat-radio-button>
                    <mat-radio-button value="2">Every 2 Hours</mat-radio-button>
                    <mat-radio-button value="3">Every 3 Hours</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td>
                <p>Please select a desired date: </p>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <p>Does the animal require transportation?</p>
            </td>
            <td>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" [checked]="true">No</mat-radio-button>
                    <mat-radio-button value="2">Yes</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
    </table>


</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit">Submit</button>
</div>