<form #medicalForm="ngForm" (ngSubmit)="submitDialog(medicalForm)">

    <h1 mat-dialog-title>Medical Inquires</h1>
    <div mat-dialog-content>

        <table>
            <tr>
                <td colspan="2">
                    <mat-form-field class="example-full-width">
                        <mat-label>Please describe the symptoms</mat-label>
                        <textarea matInput required name="symptomDescription" [(ngModel)]="medicalData.symptomDescription" placeholder="Ex. The animal shows signs..." [disabled]="entireFormEnabled"></textarea>
                        <mat-error>Please enter foster name</mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <p>What is the frequency of the symptoms?</p>
                </td>
                <td>
                    <mat-radio-group aria-label="Select an option" name="frequency" [(ngModel)]="medicalData.frequency" [disabled]="entireFormEnabled">
                        <mat-radio-button color="primary" value="1" [checked]="true">Every Hour</mat-radio-button>
                        <mat-radio-button color="primary" value="2">Every 2 Hours</mat-radio-button>
                        <mat-radio-button color="primary" value="3">Every 3 Hours</mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Please select a desired date: </p>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Choose a date</mat-label>
                        <input matInput required name="selectedDate" [(ngModel)]="medicalData.selectedDate" [matDatepicker]="picker" [disabled]="entireFormEnabled">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Does the animal require transportation?</p>
                </td>
                <td>
                    <mat-radio-group aria-label="Select an option" name="requiresTransport" [(ngModel)]="medicalData.requiresTransport" [disabled]="entireFormEnabled">
                        <mat-radio-button color="primary" value="1" [checked]="true">No</mat-radio-button>
                        <mat-radio-button color="primary" value="2">Yes</mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
        </table>


    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="closeDialog()" [disabled]="entireFormEnabled">Cancel</button>
        <button mat-button type="submit" [disabled]="entireFormEnabled">Submit</button>
    </div>

</form>