
<h2 mat-dialog-title>New {{data.role}}</h2>

<mat-dialog-content>
  <mat-form-field style="width: 100%" *ngIf="data.rescueName==true">
    <input matInput placeholder="Name" required>
    <mat-label>Rescue Name</mat-label>
    <mat-error>Please enter the rescue name</mat-error>
  </mat-form-field>
  <mat-form-field style="width: 100%" *ngIf="data.contactName==true">
    <input matInput placeholder="Name" required>
    <mat-label>Contact Name</mat-label>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="Address" required>
    <mat-label>Address</mat-label>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="City" required>
    <mat-label>City</mat-label>
  </mat-form-field>

  <table>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select>
            <mat-option [value]="0">AL-Alabama</mat-option>
            <mat-option [value]="0">AK-Alaska</mat-option>
            <mat-option [value]="0">AZ-Arizona</mat-option>
            <mat-option [value]="0">AR-Arkansas</mat-option>
            <mat-option [value]="0">CA-California</mat-option>
            <mat-option [value]="0">CO-Colorado</mat-option>
            <mat-option [value]="0">CT-Connecticut</mat-option>
            <mat-option [value]="0">DE-Delaware</mat-option>
            <mat-option [value]="0">FL-Florida</mat-option>
            <mat-option [value]="0">GA-Georgia</mat-option>
            <mat-option [value]="0">HI-Hawaii</mat-option>
            <mat-option [value]="0">ID-Idaho</mat-option>
            <mat-option [value]="0">IL-Illinois</mat-option>
            <mat-option [value]="0">IN-Indiana</mat-option>
            <mat-option [value]="0">IA-Iowa</mat-option>
            <mat-option [value]="0">KS-Kansas</mat-option>
            <mat-option [value]="0">KY-Kentucky</mat-option>
            <mat-option [value]="0">LA-Louisiana</mat-option>
            <mat-option [value]="0">ME-Maine</mat-option>
            <mat-option [value]="0">MD-Maryland</mat-option>
            <mat-option [value]="0">MA-Massachusetts</mat-option>
            <mat-option [value]="0">MI-Michigan</mat-option>
            <mat-option [value]="0">MN-Minnesota</mat-option>
            <mat-option [value]="0">MS-Mississippi</mat-option>
            <mat-option [value]="0">MO-Missouri</mat-option>
            <mat-option [value]="0">MT-Montana</mat-option>
            <mat-option [value]="0">NE-Nebraska</mat-option>
            <mat-option [value]="0">NV-Nevada</mat-option>
            <mat-option [value]="0">NH-New Hampshire</mat-option>
            <mat-option [value]="0">NJ-New Jersey</mat-option>
            <mat-option [value]="0">NM-New Mexico</mat-option>
            <mat-option [value]="0">NY-New York</mat-option>
            <mat-option [value]="0">NC-North Carolina</mat-option>
            <mat-option [value]="0">ND-North Dakota</mat-option>
            <mat-option [value]="0">OH-Ohio</mat-option>
            <mat-option [value]="0">OK-Oklahoma</mat-option>
            <mat-option [value]="0">OR-Oregon</mat-option>
            <mat-option [value]="0">PA-Pennsylvania</mat-option>
            <mat-option [value]="0">RI-Rhode Island</mat-option>
            <mat-option [value]="0">SC-South Carolina</mat-option>
            <mat-option [value]="0">SD-South Dakota</mat-option>
            <mat-option [value]="0">TN-Tennessee</mat-option>
            <mat-option [value]="0">TX-Texas</mat-option>
            <mat-option [value]="0">UT-Utah</mat-option>
            <mat-option [value]="0">VT-Vermont</mat-option>
            <mat-option [value]="0">VA-Virginia</mat-option>
            <mat-option [value]="0">WA-Washington</mat-option>
            <mat-option [value]="0">WV-West Virginia</mat-option>
            <mat-option [value]="0">WY-Wyoming</mat-option>
          </mat-select>
        </mat-form-field>

      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" max="99999" placeholder="Zip" required>
          <mat-label>Zip</mat-label>
        </mat-form-field>

      </td>
    </tr>

  </table>
  <mat-form-field>
    <input matInput placeholder="Phone" required>
    <mat-label>Phone</mat-label>
  </mat-form-field>

  <mat-divider></mat-divider>
  <mat-label>Rescue Preferences</mat-label>

  <table>
    <tr>
      <td> <mat-label id="speciesLabel">Species</mat-label> </td>
      <td>
        <mat-radio-group aria-label="Species" aria-labelledby="speciesLabel">
          <mat-radio-button value="1" [checked]="true">Dog</mat-radio-button>
          <mat-radio-button value="2">Cat</mat-radio-button>
          <mat-radio-button value="3">Both</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>
    <tr>
      <td> <mat-label id="sexLabel">Sex</mat-label> </td>
      <td>
        <mat-radio-group aria-label="Sex" aria-labelledby="sexLabel">
          <mat-radio-button value="1" [checked]="true">Both</mat-radio-button>
          <mat-radio-button value="2">Male</mat-radio-button>
          <mat-radio-button value="3">Female</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>
    <tr>
      <td> <mat-label id="sizeLabel">Size</mat-label> </td>
      <td>
        <mat-radio-group aria-label="Size" aria-labelledby="sizeLabel">
          <mat-radio-button value="1" [checked]="true">Any</mat-radio-button>
          <mat-radio-button value="2">Extra Large</mat-radio-button>
          <mat-radio-button value="3">Large</mat-radio-button>
          <mat-radio-button value="4">Medium</mat-radio-button>
          <mat-radio-button value="5">Small</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>

  </table>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="submitDialog()">Submit</button>
</mat-dialog-actions>

