################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.angular/cache/16.0.2
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/app/v17/.wsuo
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/app/v17/.wsuo
/src/environments/environment.ts
/src/assets/images
/.vs/COSMOapp/FileContentIndex
/.vs/app/FileContentIndex
/.vs/COSMO/FileContentIndex
/.vs/COSMOapp/v17/.wsuo
