################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.angular/cache/16.0.2
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
