<form #networkerForm="ngForm" (ngSubmit)="submitDialog(networkerForm)">

    <h2 mat-dialog-title>New {{data.role}}</h2>

    <mat-dialog-content>
        <mat-form-field style="width: 100%">
            <input matInput placeholder="Name" required name="networkerName" maxlength="128" [(ngModel)]="formdata.networkerName" [disabled]="entireFormEnabled">
            <mat-label>Networker Name</mat-label>
            <mat-error>Please enter networker name</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <input matInput placeholder="Address" required name="networkerAddress" maxlength="128" [(ngModel)]="formdata.networkerAddress" [disabled]="entireFormEnabled">
            <mat-label>Address</mat-label>
            <mat-error>Please enter networker address</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <input matInput placeholder="City" required name="networkerCity" maxlength="64" [(ngModel)]="formdata.networkerCity" [disabled]="entireFormEnabled">
            <mat-label>City</mat-label>
            <mat-error>Please enter networker city</mat-error>
        </mat-form-field>

        <table>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label> State </mat-label>
                        <mat-select id="stat" name="networkerState" [(ngModel)]="formdata.networkerState" [disabled]="entireFormEnabled">
                            <mat-option *ngFor="let state of global.states" [value]="state.abbreviation">
                                {{ state.name }} - {{ state.abbreviation }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" max="99999" placeholder="Zip" required name="networkerZip" [(ngModel)]="formdata.networkerZip" onKeyPress="if(this.value.length==5) return false;" [disabled]="entireFormEnabled">
                        <mat-label>Zip</mat-label>
                        <mat-error>Please enter networker zip</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label> Networker Phone</mat-label>
                        <span matPrefix>+1 &nbsp;</span>
                        <input type="tel" matInput placeholder="555-555-1234" maxlength="10" (keydown)="numberOnlyEvent($event)" required name="networkerPhone" [(ngModel)]="formdata.networkerPhone" [disabled]="entireFormEnabled">
                        <mat-error>Please enter networker phone</mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>


        <mat-form-field style="width: 100%">
            <input matInput placeholder="Email" required name="adminEmail" type="email" [(ngModel)]="formdata.networkerEmail" [disabled]="entireFormEnabled">
            <mat-label> Networker Email</mat-label>
            <mat-error>Please enter networker email</mat-error>
        </mat-form-field>
        <br />

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button type="button" (click)="closeDialog()" [disabled]="entireFormEnabled">Close</button>
        <button mat-button type="submit" [disabled]="entireFormEnabled">Submit</button>
    </mat-dialog-actions>
</form>