<form name="requestInfo" #requestInfo="ngForm" (ngSubmit)="submitDialog(requestInfo)">

    <h1 mat-dialog-title>Request Pet Food</h1>
    <div mat-dialog-content>

        <mat-form-field style="width: 100%">
            <input matInput type="number" #bagQuantity="ngModel" name="bagQuantity" [(ngModel)]="requestData.bagQuantity" [disabled]="entireFormEnabled" required>
            <mat-label>Enter food bag quantity</mat-label>
            <mat-error *ngIf="!bagQuantity.valid">Enter a number</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <mat-label>Please specify the food brand</mat-label>
            <input matInput #foodBrand="ngModel" name="foodBrand" [(ngModel)]="requestData.foodBrand" placeholder="Ex. Pedigree" [disabled]="entireFormEnabled" required>
            <mat-error *ngIf="!foodBrand.valid">Please enter a food brand</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <input matInput type="number" #onHand="ngModel" name="onHand" [(ngModel)]="requestData.onHand" [disabled]="entireFormEnabled" required>
            <mat-label>Enter food bag quantity on-hand</mat-label>
            <mat-error *ngIf="!onHand.valid">Enter a number</mat-error>
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!requestInfo.valid">Submit</button>
        <button mat-button type="button" (click)="closeDialog()" [disabled]="entireFormEnabled">Cancel</button>
    </div>
</form>



    <!--TO - DO
        add ngModel to all inputs,
        when Cancel pressed, close dialog
        when Request pressed, take the value of all inputs and put them inside a json object
        --when Request pressed, if any of the inputs its empty (no values entered) then show errors
        --*or*
        --Request button disabled until all the inputs have valid values
        -->
