
<h2 mat-dialog-title>New {{data.role}}</h2>

<mat-dialog-content>
    <mat-form-field style="width: 100%" *ngIf="data.contactName==true">
        <input matInput placeholder="Name" required>
        <mat-label>Contact Name</mat-label>
    </mat-form-field>

    <mat-form-field style="width: 100%">
        <input matInput placeholder="Address" required>
        <mat-label>Address</mat-label>
    </mat-form-field>

    <mat-form-field style="width: 100%">
        <input matInput placeholder="City" required>
        <mat-label>City</mat-label>
    </mat-form-field>



    <table>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>State</mat-label>
                    <mat-select>
                        <mat-option [value]="0">AL-Alabama</mat-option>
                        <mat-option [value]="0">AK-Alaska</mat-option>
                        <mat-option [value]="0">AZ-Arizona</mat-option>
                        <mat-option [value]="0">AR-Arkansas</mat-option>
                        <mat-option [value]="0">CA-California</mat-option>
                        <mat-option [value]="0">CO-Colorado</mat-option>
                        <mat-option [value]="0">CT-Connecticut</mat-option>
                        <mat-option [value]="0">DE-Delaware</mat-option>
                        <mat-option [value]="0">FL-Florida</mat-option>
                        <mat-option [value]="0">GA-Georgia</mat-option>
                        <mat-option [value]="0">HI-Hawaii</mat-option>
                        <mat-option [value]="0">ID-Idaho</mat-option>
                        <mat-option [value]="0">IL-Illinois</mat-option>
                        <mat-option [value]="0">IN-Indiana</mat-option>
                        <mat-option [value]="0">IA-Iowa</mat-option>
                        <mat-option [value]="0">KS-Kansas</mat-option>
                        <mat-option [value]="0">KY-Kentucky</mat-option>
                        <mat-option [value]="0">LA-Louisiana</mat-option>
                        <mat-option [value]="0">ME-Maine</mat-option>
                        <mat-option [value]="0">MD-Maryland</mat-option>
                        <mat-option [value]="0">MA-Massachusetts</mat-option>
                        <mat-option [value]="0">MI-Michigan</mat-option>
                        <mat-option [value]="0">MN-Minnesota</mat-option>
                        <mat-option [value]="0">MS-Mississippi</mat-option>
                        <mat-option [value]="0">MO-Missouri</mat-option>
                        <mat-option [value]="0">MT-Montana</mat-option>
                        <mat-option [value]="0">NE-Nebraska</mat-option>
                        <mat-option [value]="0">NV-Nevada</mat-option>
                        <mat-option [value]="0">NH-New Hampshire</mat-option>
                        <mat-option [value]="0">NJ-New Jersey</mat-option>
                        <mat-option [value]="0">NM-New Mexico</mat-option>
                        <mat-option [value]="0">NY-New York</mat-option>
                        <mat-option [value]="0">NC-North Carolina</mat-option>
                        <mat-option [value]="0">ND-North Dakota</mat-option>
                        <mat-option [value]="0">OH-Ohio</mat-option>
                        <mat-option [value]="0">OK-Oklahoma</mat-option>
                        <mat-option [value]="0">OR-Oregon</mat-option>
                        <mat-option [value]="0">PA-Pennsylvania</mat-option>
                        <mat-option [value]="0">RI-Rhode Island</mat-option>
                        <mat-option [value]="0">SC-South Carolina</mat-option>
                        <mat-option [value]="0">SD-South Dakota</mat-option>
                        <mat-option [value]="0">TN-Tennessee</mat-option>
                        <mat-option [value]="0">TX-Texas</mat-option>
                        <mat-option [value]="0">UT-Utah</mat-option>
                        <mat-option [value]="0">VT-Vermont</mat-option>
                        <mat-option [value]="0">VA-Virginia</mat-option>
                        <mat-option [value]="0">WA-Washington</mat-option>
                        <mat-option [value]="0">WV-West Virginia</mat-option>
                        <mat-option [value]="0">WY-Wyoming</mat-option>
                    </mat-select>
                </mat-form-field>

            </td>
            <td>
                <mat-form-field>
                    <input matInput type="number" max="99999" placeholder="Zip" required>
                    <mat-label>Zip</mat-label>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <span matPrefix>+1 &nbsp;</span>
                    <input type="tel" matInput placeholder="555-555-1234" required>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <mat-form-field style="width: 100%">
        <input matInput placeholder="Email" required>
        <mat-label>Email</mat-label>
    </mat-form-field>

    <mat-form-field style="width: 50%">
        <input matInput placeholder="License number and State" required>
        <mat-label>Driver License</mat-label>
    </mat-form-field>

    <table>
        <tr>
            <td> <mat-label id="housingLabel">Type Housing</mat-label> </td>
            <td colspan="3">
                <mat-radio-group aria-label="Housing" aria-labelledby="housingLabel">
                    <mat-radio-button value="1" [checked]="true">Apartment</mat-radio-button>
                    <mat-radio-button value="2">Condo</mat-radio-button>
                    <mat-radio-button value="3">Townhouse</mat-radio-button>
                    <mat-radio-button value="4">Single Family</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td> <mat-label id="ownershipLabel">Ownership</mat-label> </td>
            <td>
                <mat-radio-group aria-label="Ownership" aria-labelledby="ownershipLabel">
                    <mat-radio-button value="1" [checked]="true">Rent</mat-radio-button>
                    <mat-radio-button value="2">Own</mat-radio-button>
                </mat-radio-group>
            </td>
            <td> <mat-label id="landordLabel" style="margin-left: 30px">Lanlord allows Pets</mat-label> </td>
            <td>
                <mat-radio-group aria-label="Landord" aria-labelledby="landordLabel">
                    <mat-radio-button value="1" [checked]="true">No</mat-radio-button>
                    <mat-radio-button value="2">Yes</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td> <mat-label id="fenceLabel">Fenced Yard</mat-label> </td>
            <td colspan="3">
                <mat-radio-group aria-label="Fence" aria-labelledby="fenceLabel">
                    <mat-radio-button value="1" [checked]="true">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>

    </table>

    <mat-form-field style="width: 30%">
        <input matInput type="number" min="0" max="99" placeholder="Years" required>
        <mat-label>Years at this Address</mat-label>
    </mat-form-field>




    <mat-divider style="margin-top: 10px"></mat-divider>
    <mat-label style="font-style: italic">Fostering Preferences</mat-label>

    <table>
        <tr>
            <td> <mat-label id="speciesLabel">Species</mat-label> </td>
            <td>
                <mat-radio-group aria-label="Species" aria-labelledby="speciesLabel">
                    <mat-radio-button value="1" [checked]="true">Dog</mat-radio-button>
                    <mat-radio-button value="2">Cat</mat-radio-button>
                    <mat-radio-button value="3">Both</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td> <mat-label id="genderLabel">Gender</mat-label> </td>
            <td>
                <mat-radio-group aria-label="Gender" aria-labelledby="genderLabel">
                    <mat-radio-button value="1" [checked]="true">Both</mat-radio-button>
                    <mat-radio-button value="2">Male</mat-radio-button>
                    <mat-radio-button value="3">Female</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td> <mat-label id="sizeLabel">Size</mat-label> </td>
            <td>
                <mat-radio-group aria-label="Size" aria-labelledby="sizeLabel">
                    <mat-radio-button value="1" [checked]="true">Any</mat-radio-button>
                    <mat-radio-button value="2">Extra Large</mat-radio-button>
                    <mat-radio-button value="3">Large</mat-radio-button>
                    <mat-radio-button value="4">Medium</mat-radio-button>
                    <mat-radio-button value="5">Small</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>

    </table>


    <mat-divider style="margin-top: 10px"></mat-divider>
    <mat-label style="font-style: italic">Your Pets and Foster Experience</mat-label>
    <br />

    <mat-label id="ownedBeforeLabel">Have you ever owned a pet before?</mat-label>
    <mat-radio-group aria-label="Owned" aria-labelledby="ownedBeforeLabel">
        <mat-radio-button value="1" [checked]="true">Yes</mat-radio-button>
        <mat-radio-button value="2">No</mat-radio-button>
    </mat-radio-group>

    <mat-form-field style="width: 60%" *ngIf="data.contactName==true">
        <input matInput placeholder="Type/Breed" required>
        <mat-label>Type/Breed</mat-label>
    </mat-form-field>
    <br />

    <a>What experience do you have with animals?</a>
    <br />
    <mat-form-field style="width: 60%">
        <mat-label>Provide details</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <br />

    <mat-label id="fosteredBeforeLabel">Have you ever fostered a pet before?</mat-label>
    <mat-radio-group aria-label="Fostered" aria-labelledby="fosteredBeforeLabel">
        <mat-radio-button value="1" [checked]="true">Yes</mat-radio-button>
        <mat-radio-button value="2">No</mat-radio-button>
    </mat-radio-group>
    <br />


    <br />
    <mat-form-field style="width: 60%">
        <mat-label>Please provide your foster care experience</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <table>
        <tr>
            <td>Do you currently own any pets?</td>
        </tr>

        
        <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Name" required>
                    <mat-label>Name</mat-label>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input matInput type="number" max="50" placeholder="Years Owned" required>
                    <mat-label>Years Owned</mat-label>
                </mat-form-field>
            </td>
            <td>
                <mat-radio-group aria-label="gender" aria-labelledby="genderLabel">
                    <mat-radio-button value="1">Male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                </mat-radio-group>
            </td>
            <td>
                <section class="example-section">
                    <mat-checkbox class="example-margin">Spayed/Neutered</mat-checkbox>
                </section>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Name" required>
                    <mat-label>Name</mat-label>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input matInput type="number" max="50" placeholder="Years Owned" required>
                    <mat-label>Years Owned</mat-label>
                </mat-form-field>
            </td>
            <td>
                <mat-radio-group aria-label="gender" aria-labelledby="genderLabel">
                    <mat-radio-button value="1">Male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                </mat-radio-group>
            </td>
            <td>
                <section class="example-section">
                    <mat-checkbox class="example-margin">Spayed/Neutered</mat-checkbox>
                </section>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Name" required>
                    <mat-label>Name</mat-label>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input matInput type="number" max="50" placeholder="Years Owned" required>
                    <mat-label>Years Owned</mat-label>
                </mat-form-field>
            </td>
            <td>
                <mat-radio-group aria-label="gender" aria-labelledby="genderLabel">
                    <mat-radio-button value="1">Male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                </mat-radio-group>
            </td>
            <td>
                <section class="example-section">
                    <mat-checkbox class="example-margin">Spayed/Neutered</mat-checkbox>
                </section>
            </td>
        </tr>

    </table>



    <ng-container>
        <td><a>Which veterinarian do you use?</a></td>

        <td>
            <mat-form-field>
                <input matInput placeholder="Name" required>
                <mat-label>Name</mat-label>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <span matPrefix>+1 &nbsp;</span>
                <input type="tel" matInput placeholder="555-555-1234" required>
            </mat-form-field>
        </td>
    </ng-container>
    <br />

    <ng-container>
        <td><a>How many hours per day will the animal be left alone?</a></td>
        <td>
            <mat-form-field>
                <input matInput type="number" max="50" placeholder="Hours Alone" required>
                <mat-label>Hours Alone</mat-label>
            </mat-form-field>
        </td>
    </ng-container>
    <br />

    <ng-container>
        <td><a>Where will the animals stay during the day?</a></td>
        <td>
            <mat-form-field>
                <input matInput placeholder="Brief Explanation" required>
                <mat-label>Brief Explanation</mat-label>
            </mat-form-field>
        </td>
    </ng-container>
    <br />

    <ng-container>
        <td><a>Where will the animals stay during the night?</a></td>
        <td>
            <mat-form-field>
                <input matInput placeholder="Brief Explanation" required>
                <mat-label>Brief Explanation</mat-label>
            </mat-form-field>
        </td>
    </ng-container>
    <br />


</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="submitDialog()">Submit</button>
</mat-dialog-actions>

