
    <h1 mat-dialog-title> Bio information for foster animal </h1>

    <mat-dialog-content>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-label> Animal behavior description </mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. Mogi has anxiety...">
        <mat-hint align="start"><strong>Describe in detail your foster animal behavior, friendly towards other dogs? cats? people? children? etc... </strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
       
    </mat-dialog-content>
            
    <mat-dialog-actions>
        <button mat-menu-item> Submit</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
