<h1 mat-dialog-title>My Animals</h1>
<div mat-dialog-content>
    <table mat-table [dataSource]="myAnimals" class="mat-elevation-z8">

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Quick Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" matTooltip="Medical" matTooltipPosition="right" style="margin-right: 8px"> <span class="material-symbols-outlined">ecg_heart</span> </button>
                <button mat-raised-button color="primary" matTooltip="Supplies" matTooltipPosition="right" style="margin-right: 8px"> <span class="material-symbols-outlined">shopping_cart</span> </button>
                <button mat-raised-button color="primary" matTooltip="Other expenses" matTooltipPosition="right" style="margin-right: 8px"> <span class="material-symbols-outlined">paid</span> </button>
                <button mat-raised-button matTooltip="Transport" matTooltipPosition="right" style="margin-right: 8px"> <span class="material-symbols-outlined">airport_shuttle</span> </button>
                <button mat-raised-button matTooltip="Transfer to another foster" matTooltipPosition="right"> <span class="material-symbols-outlined">move_up</span> </button>
                <button mat-raised-button matTooltip="Edit Information" matTooltipPosition="right" style="margin-right: 8px; min-width: 56px !important">  <span class="material-symbols-outlined">edit_note</span>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="shelterAnimalID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.shelterAnimalId}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="breed">
            <th mat-header-cell *matHeaderCellDef> Breed </th>
            <td mat-cell *matCellDef="let element"> {{element.breed}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    </div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
</div>

