<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">
        <span class="material-symbols-outlined" style="vertical-align: middle">menu</span>
    </button>
    <mat-menu #menu="matMenu">
        <!--<button (click)="newShelterDialog()" mat-menu-item>Create Shelter Account</button>
    <button (click)="newRescueDialog()" mat-menu-item>Create Rescue Group Account</button>-->
        <button (click)="inviteFosterDialog()" mat-menu-item>Invite Foster</button>
        <button (click)="newFosterDialog()" mat-menu-item>Create Foster Account</button>
        <button (click)="newNetworkerDialog()" mat-menu-item>Create Networker Account</button>
        <button (click)="newTransportDialog()" mat-menu-item>Create Transport Account</button>
        <mat-divider></mat-divider>
        <button (click)="myAnimalsDialog()" mat-menu-item>My Animals</button>
        <button (click)="myFosterDialog()" mat-menu-item>My Fosters</button>
        <button (click)="transportDialog()" mat-menu-item>My Transports</button>
        <button (click)="testSample()" mat-menu-item>Test Sample</button>

        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">Logout</button>
        <button mat-menu-item (click)="testing123()">Test Jackie Code</button>
        <button mat-menu-item (click)="testing1234()">Test2 Jackie Code</button>
        <button mat-menu-item (click)="testingDaniel()">Test Daniel Code</button>
        <button mat-menu-item (click)="testingDaniel2()">Test2 Daniel Code</button>
    </mat-menu>
    <span *ngIf="auth.user$ | async as user">Welcome, {{global.rescueName}}</span>
    <span class="example-spacer"></span>

    <button mat-button> <span class="material-symbols-outlined" style="vertical-align: middle">save_as</span> <span style="vertical-align: middle">Save Workspace</span></button>
    <button mat-button (click)="refresh()" [disabled]="global.animalsLoading"> <span class="material-symbols-outlined" style="vertical-align: middle">refresh</span> <span style="vertical-align: middle">Refresh </span></button>

    <button mat-raised-button [matMenuTriggerFor]="notifications" color="primary" matBadge="8" matBadgePosition="after" matBadgeColor="accent">
        Notifications
    </button>
    <mat-menu #notifications="matMenu">
        <button mat-menu-item>New Foster Appl Submitted - 4</button>
        <button mat-menu-item>Foster Vet Attention Request - 1</button>
        <button mat-menu-item>New Adoption Request - 3</button>
    </mat-menu>

</mat-toolbar>




<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">


    <mat-tab label="Houston - BARC">

        <mat-form-field style="margin-right: 10px">
            <mat-label> State </mat-label>
            <mat-select id="stat" name="state" [(ngModel)]="selectedState" (selectionChange)="onStateChange($event.value)">
                <mat-option *ngFor="let state of global.states" [value]="state.abbreviation">
                    {{ state.name }} - {{ state.abbreviation }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px" *ngIf="cities && cities.length > 0">
            <mat-label>City</mat-label>
            <mat-select [(ngModel)]='selectedCity'>
                <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{city.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Shelter</mat-label>
            <mat-select [(ngModel)]='selectedShelter'>
                <mat-option *ngFor="let shelter of shelters" [value]="shelter.value">
                    {{shelter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div style="width: 100%; text-align: center; margin-top: 30px" *ngIf="global.animalsLoading == true">
            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" style="margin-left: auto; margin-right: auto"> </mat-progress-spinner>
            <p>Loading data, please wait...</p>
        </div>

        <div style="width: 100%; text-align: center; margin-top: 30px" *ngIf="global.animalsError.length > 0">
            <h1>{{global.animalsError}}</h1>
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" [style.display]="global.animals.length > 0 ? 'table' : 'none'">

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Quick Action </th>
                <td mat-cell *matCellDef="let element" style="min-width: 290px !important">
                    <button mat-raised-button color="accent" (click)="tagAnimal(element.id, element.shelterAnimalId, element.name, element.species)" matTooltip="Request Tag" matTooltipPosition="right" style="margin-right: 8px; min-width: 56px !important" *ngIf="element.status==0"> <span class="material-symbols-outlined">new_label</span> </button>
                    <button mat-raised-button color="primary" (click)="confirmTagAnimal(element.id, element.shelterAnimalId, element.name, element.species)" matTooltip="Confirm Tag" matTooltipPosition="right" style="margin-right: 8px; min-width: 56px !important" *ngIf="element.status==100"> <span class="material-symbols-outlined">check</span> </button>
                    <button mat-raised-button (click)="findFoster(element.id)" matTooltip="Find Foster" matTooltipPosition="right" style="margin-right: 8px; min-width: 56px !important" *ngIf="element.status==0 || element.status==100 || element.status==110 || element.status==200">  <span class="material-symbols-outlined">person_search</span> </button>
                    <button mat-raised-button matTooltip="Edit Information" matTooltipPosition="right" style="margin-right: 8px; min-width: 56px !important" *ngIf="element.status==0 || element.status==100 || element.status==110">  <span class="material-symbols-outlined">edit_note</span> </button>
                    <button mat-raised-button (click)="fosterPlea()" matTooltip="Plea" matTooltipPosition="right" style="min-width: 56px !important" *ngIf="element.status==0  || element.status==100 || element.status==110 || element.status==200"> <span class="material-symbols-outlined">folded_hands</span> </button>
                    <button mat-raised-button matTooltip="Transport" matTooltipPosition="right" style="margin-right: 8px" *ngIf="element.status==300"> <span class="material-symbols-outlined">airport_shuttle</span> </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="imageURL">
                <th mat-header-cell *matHeaderCellDef> Photo </th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="element.imageFile" style="height: 60px" matTooltip="{{element.shelterNotes}}" matTooltipPosition="right" (click)="animalDetail(element)" />
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element">
                    <div style="height: 30px; width: 30px; border-radius: 15px; background-color: black; border: 1px solid black" *ngIf="element.status==-1" matTooltip="Euthanized :( - {{element.statusDate}}" matTooltipPosition="right"></div>
                    <div style="height: 30px; width: 30px; border-radius: 15px; background-color: red; border: 1px solid black" *ngIf="element.status==0" matTooltip="In Danger" matTooltipPosition="right"></div>
                    <div style="height: 30px; width: 30px; border-radius: 15px; background-color: yellow; border: 1px solid black; display: flex; justify-content: center; align-items: center" *ngIf="element.status==100" matTooltip="Tag sent - waiting confirmation - {{element.statusDate}}" matTooltipPosition="right"><span class="material-symbols-outlined">hourglass</span></div>
                    <div style="height: 30px; width: 30px; border-radius: 15px; background-color: yellow; border: 1px solid black; display: flex; justify-content: center; align-items: center" *ngIf="element.status==110" matTooltip="Tag notification - {{element.statusInfo}} - {{element.statusDate}}" matTooltipPosition="right"><span class="material-symbols-outlined">bookmark</span></div>
                    <div style="height: 30px; width: 30px; border-radius: 15px; background-color: yellow; border: 1px solid black; text-align: center" *ngIf="element.status==200" matTooltip="Tag confirmed - waiting foster - {{element.statusDate}}" matTooltipPosition="right"><span class="material-symbols-outlined">person</span></div>
                    <div style="height: 30px; width: 30px; border-radius: 15px; background-color: green; border: 1px solid black" *ngIf="element.status==300" matTooltip="Foster parent assigned - {{element.statusDate}}" matTooltipPosition="right"></div>
                    <div style="height: 30px; width: 30px; border-radius: 15px; background-color: cornflowerblue; border: 1px solid black" *ngIf="element.status==900" matTooltip="Adopted! - {{element.statusInfo}} - {{element.statusDate}}" matTooltipPosition="right"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="shelterAnimalID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.shelterAnimalId}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="breed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Breed </th>
                <td mat-cell *matCellDef="let element"> {{element.breed | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight (lbs) </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
                <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
            </ng-container>

            <ng-container matColumnDef="outcomeRequest">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Outcome Request </th>
                <td mat-cell *matCellDef="let element"> {{element.outcomeRequest}} </td>
            </ng-container>

            <ng-container matColumnDef="dueOutDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Out Date </th>
                <td mat-cell *matCellDef="let element"> {{element.dueOutDate | date: 'MM/dd/yyyy'}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 50, 100, 200]" showFirstLastButtons aria-label="Select page" [style.display]="global.animals.length > 0 ? 'block' : 'none'"> </mat-paginator>

    </mat-tab>
    <mat-tab label="Houston - Harris County">

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="material-symbols-outlined">
                add
            </span>
            <span>Add Worksheet</span>
        </ng-template>

    </mat-tab>
</mat-tab-group>