
<h2 mat-dialog-title>{{data.animalInfo.species}} {{data.animalInfo.name}} - {{data.animalInfo.shelterAnimalID}}</h2>

<mat-dialog-content style="text-align: center">
  <img src="{{data.animalInfo.imageFile}}" style="height: 273px" />
  <br />
  <table style="width: 100%; text-align: left">
      <tr>
          <td><b>Gender:</b> </td>
          <td>{{data.animalInfo.gender}}</td>
      </tr>
      <tr>
          <td><b>Breed:</b> </td>
          <td>{{data.animalInfo.breed}}</td>
      </tr>
      <tr>
          <td><b>Age:</b> </td>
          <td>{{data.animalInfo.age}}</td>
      </tr>
      <tr>
          <td><b>Weight:</b> </td>
          <td>{{data.animalInfo.weight}}</td>
      </tr>


      <tr>
          <td><b>Heartworm/FIV:</b> </td>
          <td>{{data.animalInfo.hwFIVstatus}}</td>
      </tr>
      <tr>
          <td><b>Due Out Date:</b> </td>
          <td>{{data.animalInfo.dueOutDate}}</td>
      </tr>
      <tr>
          <td><b>Shelter Notes:</b> </td>
          <td>{{data.animalInfo.evalNotes}}</td>
      </tr>
      <tr>
          <td><b>Volunteer Notes:</b> </td>
          <td>{{data.animalInfo.volunteerNotes}}</td>
      </tr>
      <tr>
          <td><b>Volunteer Favorite:</b> </td>
          <td>{{data.animalInfo.volunteerFavorite}}</td>
      </tr>
      <tr>
          <td><b>Kennel:</b> </td>
          <td>{{data.animalInfo.kennel}}</td>
      </tr>
      <tr>
          <td><b>Days in Shelter:</b> </td>
          <td>{{data.animalInfo.daysShelter}}</td>
      </tr>
      <tr>
          <td><b>Spay or Neuter:</b> </td>
          <td>{{data.animalInfo.spayNeuter}}</td>
      </tr>
      <tr>
          <td><b>Color:</b> </td>
          <td>{{data.animalInfo.color}}</td>
      </tr>
      <tr>
          <td><b>Outcome Request:</b> </td>
          <td>{{data.animalInfo.outcomeRequest}}</td>
      </tr>
      <tr>
          <td><b>Reason:</b> </td>
          <td>{{data.animalInfo.reason}}</td>
      </tr>
  </table>
  <br />

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>

