
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src='assets/cosmo_logo.jpg' style="height: 60px; width: 60px; border-radius: 30px" alt="cosmo logo">
        <span style="margin-left: 17px">COSMO - Free app for animal rescue</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-stepper linear #stepper>
    <mat-step [stepControl]="form1.control">
        <form #form1="ngForm">
            <ng-template matStepLabel>Select your account type</ng-template>

            <p>Please select the most appropiate option from the selections below, then click the <b>'Next'</b> button</p>

            <mat-label id="typeAccountLabel">Account Type:</mat-label>
            <mat-radio-group aria-label="Account Type" aria-labelledby="typeAccountLabel" name="typeAccount" [(ngModel)]="formdata.typeAccount" [disabled]="entireFormEnabled">
                <mat-radio-button value="1" [checked]="true">Shelter</mat-radio-button>
                <mat-radio-button value="2">Rescue Group</mat-radio-button>
                <mat-radio-button value="3">Foster</mat-radio-button>
                <mat-radio-button value="4" [disabled]="true">Transport</mat-radio-button>
            </mat-radio-group>
            <p *ngIf="formdata.typeAccount=='1'" style="font-style: italic">Description: Shelters - City or state facilities where stray animals or owner surrenders are accepted.</p>
            <p *ngIf="formdata.typeAccount=='2'" style="font-style: italic">Description: Rescue Groups - Private or semi-private organizations dedicated to pull animals out from shelters, bring them back to health and offer them for adoption.</p>
            <p *ngIf="formdata.typeAccount=='3'" style="font-style: italic">Description: Fosters - Invididuals that hold rescued animals in their homes or other suitables places while they get adopted.</p>
            <div>
                <button mat-raised-button matStepperNext color="primary" [disabled]="entireFormEnabled">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="form2.control">
        <form #form2="ngForm">
            <ng-template matStepLabel>Fill in your details</ng-template>

            <p>Now fill the requested information into their respective fields, then click the <b>'Next'</b> button</p>

            <!--shelter form-->
            <div *ngIf="formdata.typeAccount=='1'">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Name" required name="shelterName" maxlength="128" [(ngModel)]="shelterdata.shelterName" [disabled]="entireFormEnabled">
                    <mat-label>Shelter Name</mat-label>
                    <mat-error>Please enter shelter name</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Address" required name="shelterAddress" maxlength="128" [(ngModel)]="shelterdata.shelterAddress" [disabled]="entireFormEnabled">
                    <mat-label>Address</mat-label>
                    <mat-error>Please enter shelter address</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="City" required name="shelterCity" maxlength="64" [(ngModel)]="shelterdata.shelterCity" [disabled]="entireFormEnabled">
                    <mat-label>City</mat-label>
                    <mat-error>Please enter shelter city</mat-error>
                </mat-form-field>

                <table>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label> State </mat-label>
                                <mat-select id="stat" name="shelterState" [(ngModel)]="shelterdata.shelterState" [disabled]="entireFormEnabled">
                                    <mat-option *ngFor="let state of global.states" [value]="state.abbreviation">
                                        {{ state.name }} - {{ state.abbreviation }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="number" max="99999" placeholder="Zip" required name="shelterZip" [(ngModel)]="shelterdata.shelterZip" onKeyPress="if(this.value.length==5) return false;" [disabled]="entireFormEnabled">
                                <mat-label>Zip</mat-label>
                                <mat-error>Please enter shelter zip</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Shelter Phone</mat-label>
                                <span matPrefix>+1 &nbsp;</span>
                                <input type="tel" matInput placeholder="555-555-1234" maxlength="10" (keydown)="numberOnlyEvent($event)" required name="shelterPhone" [(ngModel)]="shelterdata.shelterPhone" [disabled]="entireFormEnabled">
                                <mat-error>Please enter shelter phone</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Name" required name="adminName" [(ngModel)]="shelterdata.adminName" [disabled]="entireFormEnabled">
                    <mat-label>Administrator Name</mat-label>
                    <mat-error>Please enter administrator name</mat-error>
                </mat-form-field>
                <br />

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Email" required name="adminEmail" type="email" [(ngModel)]="shelterdata.adminEmail" [disabled]="entireFormEnabled">
                    <mat-label> Administrator Email</mat-label>
                    <mat-error>Please enter shelter email</mat-error>
                </mat-form-field>
                <br />

                <mat-form-field>
                    <mat-label>Administrator Phone</mat-label>
                    <span matPrefix>+1 &nbsp;</span>
                    <input type="tel" matInput placeholder="555-555-1234" maxlength="10" required name="adminPhone" [(ngModel)]="shelterdata.adminPhone" [disabled]="entireFormEnabled">
                    <mat-error>Please enter administrator phone</mat-error>
                </mat-form-field>
                <br />

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Name" required name="coordinatorName" [(ngModel)]="shelterdata.coordinatorName" [disabled]="entireFormEnabled">
                    <mat-label>Coordinator Name</mat-label>
                    <mat-error>Please enter coordinator name</mat-error>
                </mat-form-field>
                <br />

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Email" required name="coordinatorEmail" [(ngModel)]="shelterdata.coordinatorEmail" [disabled]="entireFormEnabled">
                    <mat-label> Coordinator Email</mat-label>
                    <mat-error>Please enter coordinator email</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Coordinator Phone</mat-label>
                    <span matPrefix>+1 &nbsp;</span>
                    <input type="tel" matInput placeholder="555-555-1234" maxlength="10" required name="coordinatorPhone" [(ngModel)]="shelterdata.coordinatorPhone" [disabled]="entireFormEnabled">
                    <mat-error>Please enter coordinator phone</mat-error>
                </mat-form-field>
            </div>

            <!--rescue form-->
            <div *ngIf="formdata.typeAccount=='2'">
                <mat-form-field style="width: 100%">
                    <input matInput name="rescueName" placeholder="Name" maxlength="128" required [(ngModel)]="rescuedata.rescueName" [disabled]="entireFormEnabled">
                    <mat-label>Rescue Name</mat-label>
                    <mat-error>Please enter rescue name</mat-error>
                </mat-form-field>


                <mat-form-field style="width: 100%">
                    <input matInput name="rescueAddress" placeholder="Address" maxlength="128" required [(ngModel)]="rescuedata.rescueAddress" [disabled]="entireFormEnabled">
                    <mat-label>Address</mat-label>
                    <mat-error>Please enter rescue address</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput name="rescueCity" placeholder="City" maxlength="64" required [(ngModel)]="rescuedata.rescueCity" [disabled]="entireFormEnabled">
                    <mat-label>City</mat-label>
                    <mat-error>Please enter rescue city</mat-error>
                </mat-form-field>

                <table>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label> State </mat-label>
                                <mat-select id="stat" name="state" [(ngModel)]="rescuedata.rescueState" [disabled]="entireFormEnabled">
                                    <mat-option *ngFor="let state of global.states" [value]="state.abbreviation">
                                        {{ state.name }} - {{ state.abbreviation }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput name="rescueZip" type="number" max="99999" placeholder="Zip" required [(ngModel)]="rescuedata.rescueZip" onKeyPress="if(this.value.length==5) return false;" [disabled]="entireFormEnabled">
                                <mat-label>Zip</mat-label>
                                <mat-error>Please enter rescue zip</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Rescue Phone</mat-label>
                                <span matPrefix>+1 &nbsp;</span>
                                <input type="tel" matInput name="rescuePhone" placeholder="555-555-1234" maxlength="10" required [(ngModel)]="rescuedata.rescuePhone" [disabled]="entireFormEnabled">
                                <mat-error>Please enter rescue phone</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <mat-form-field style="width: 100%">
                    <input matInput name="rescueEmail" type="email" placeholder="Email" maxlength="128" required [(ngModel)]="rescuedata.rescueEmail" [disabled]="entireFormEnabled">
                    <mat-label>Rescue Email</mat-label>
                    <mat-error>Please enter rescue email</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput name="contactName" placeholder="Name" maxlength="128" required [(ngModel)]="rescuedata.contactName" [disabled]="entireFormEnabled">
                    <mat-label>Contact Name</mat-label>
                    <mat-error>Please enter contact name</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Contact Phone</mat-label>
                    <span matPrefix>+1 &nbsp;</span>
                    <input type="tel" matInput name="contactPhone" placeholder="555-555-1234" maxlength="10" required [(ngModel)]="rescuedata.contactPhone" [disabled]="entireFormEnabled">
                    <mat-error>Please enter contact phone</mat-error>
                </mat-form-field>
                <br />

                <mat-form-field style="width: 100%">
                    <input matInput name="contactEmail" type="email" placeholder="Email" maxlength="128" required [(ngModel)]="rescuedata.contactEmail" [disabled]="entireFormEnabled">
                    <mat-label>Contact Email</mat-label>
                    <mat-error>Please enter contact email</mat-error>
                </mat-form-field>
                <br />


                <mat-divider></mat-divider>
                <mat-label style="font-style:italic; font-weight: bold">Rescue Preferences</mat-label>

                <table>
                    <tr>
                        <td> <mat-label id="speciesLabel">Species</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Species" aria-labelledby="speciesLabel" name="species" [(ngModel)]="rescuedata.species" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Dog</mat-radio-button>
                                <mat-radio-button value="2">Cat</mat-radio-button>
                                <mat-radio-button value="3">Both</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td> <mat-label id="genderLabel">Gender</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Gender" aria-labelledby="genderLabel" name="gender" [(ngModel)]="rescuedata.gender" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Both</mat-radio-button>
                                <mat-radio-button value="2">Male</mat-radio-button>
                                <mat-radio-button value="3">Female</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td> <mat-label id="sizeLabel">Size</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Size" aria-labelledby="sizeLabel" name="size" [(ngModel)]="rescuedata.size" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Any</mat-radio-button>
                                <mat-radio-button value="2">Extra Large</mat-radio-button>
                                <mat-radio-button value="3">Large</mat-radio-button>
                                <mat-radio-button value="4">Medium</mat-radio-button>
                                <mat-radio-button value="5">Small</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>

                    <tr>
                        <td> <mat-label id="ageLabel">Age</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Age" aria-labelledby="ageLabel" name="age" [(ngModel)]="rescuedata.age" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Any</mat-radio-button>
                                <mat-radio-button value="2">Baby/Puppy</mat-radio-button>
                                <mat-radio-button value="3">Young</mat-radio-button>
                                <mat-radio-button value="4">Adult</mat-radio-button>
                                <mat-radio-button value="5">Senior</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                </table>

                <mat-divider style="margin-top: 10px"></mat-divider>
                <mat-label style="font-style:italic; font-weight: bold">Foster Application Preferences</mat-label>
                <table>
                    <tr>
                        <td> <mat-label id="fosterApplication">Foster Application</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Foster Application" aria-labelledby="fosterApplicationLabel" name="applicationType" [(ngModel)]="rescuedata.applicationType" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Simple</mat-radio-button>
                                <mat-radio-button value="2">Detailed</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                </table>
            </div>

            <!--foster form-->
            <div *ngIf="formdata.typeAccount=='3'">

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="First & Last Name" maxlength="128" required name="fosterName" [(ngModel)]="fosterdata.fosterName" [disabled]="entireFormEnabled">
                    <mat-label>Contact Name</mat-label>
                    <mat-error>Please enter foster name</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Address" maxlength="128" required name="fosterAddress" [(ngModel)]="fosterdata.fosterAddress" [disabled]="entireFormEnabled">
                    <mat-label>Address</mat-label>
                    <mat-error>Please enter foster address</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="City" maxlength="64" required name="fosterCity" [(ngModel)]="fosterdata.fosterCity" [disabled]="entireFormEnabled">
                    <mat-label>City</mat-label>
                    <mat-error>Please enter foster city</mat-error>
                </mat-form-field>

                <table>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label> State </mat-label>
                                <mat-select id="stat" name="state" [(ngModel)]="fosterdata.fosterState" [disabled]="entireFormEnabled">
                                    <mat-option *ngFor="let state of global.states" [value]="state.abbreviation">
                                        {{ state.name }} - {{ state.abbreviation }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="number" max="99999" placeholder="Zip" required name="fosterZip" [(ngModel)]="fosterdata.fosterZip" onKeyPress="if(this.value.length==5) return false;" [disabled]="entireFormEnabled">
                                <mat-label>Zip</mat-label>
                                <mat-error>Please enter foster zip</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Phone</mat-label>
                                <span matPrefix>+1 &nbsp;</span>
                                <input type="tel" matInput placeholder="555-555-1234" maxlength="10" required name="fosterPhone" [(ngModel)]="fosterdata.fosterPhone" [disabled]="entireFormEnabled">
                                <mat-error>Please enter foster phone</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Email" maxlength="128" required name="fosterEmail" type="email" [(ngModel)]="fosterdata.fosterEmail" [disabled]="entireFormEnabled">
                    <mat-label>Email</mat-label>
                    <mat-error>Please enter foster email</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 50%">
                    <input matInput placeholder="License number and State" maxlength="18" required name="fosterDL" [(ngModel)]="fosterdata.fosterDL" [disabled]="entireFormEnabled">
                    <mat-label>Driver License</mat-label>
                    <mat-error>Please enter drivers license</mat-error>
                </mat-form-field>

                <table>
                    <tr>
                        <td> <mat-label id="housingLabel">Type Housing</mat-label> </td>
                        <td colspan="3">
                            <mat-radio-group aria-label="Housing" aria-labelledby="housingLabel" name="fosterHome" [(ngModel)]="fosterdata.fosterHome" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Apartment</mat-radio-button>
                                <mat-radio-button value="2">Condo</mat-radio-button>
                                <mat-radio-button value="3">Townhouse</mat-radio-button>
                                <mat-radio-button value="4">Single Family</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td> <mat-label id="ownershipLabel">Ownership</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Ownership" aria-labelledby="ownershipLabel" name="fosterOwnership" [(ngModel)]="fosterdata.fosterOwnership" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Rent</mat-radio-button>
                                <mat-radio-button value="2">Own</mat-radio-button>
                            </mat-radio-group>
                        </td>
                        <td> <mat-label id="landordLabel" style="margin-left: 30px">Lanlord allows Pets</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Landord" aria-labelledby="landordLabel" name="fosterLandlord" [(ngModel)]="fosterdata.fosterLandlord" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">No</mat-radio-button>
                                <mat-radio-button value="2">Yes</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td> <mat-label id="fenceLabel">Fenced Yard</mat-label> </td>
                        <td colspan="3">
                            <mat-radio-group aria-label="Fence" aria-labelledby="fenceLabel" name="fosterYard" [(ngModel)]="fosterdata.fosterYard" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                </table>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Brief Description" maxlength="216" required name="fosterFence" [(ngModel)]="fosterdata.fosterFence" [disabled]="entireFormEnabled">
                    <mat-label>Please describe your fence</mat-label>
                    <mat-error>Please enter description</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Brief Explanation" maxlength="216" required name="exerciseMethod" [(ngModel)]="fosterdata.exerciseMethod" [disabled]="entireFormEnabled">
                    <mat-label>Since you do not have a fenced yard, how will the animal get exercise?</mat-label>
                    <mat-error>Please enter description</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 30%">
                    <input matInput type="number" min="0" max="99" placeholder="Years" required name="addressDuration" [(ngModel)]="fosterdata.addressDuration" [disabled]="entireFormEnabled">
                    <mat-label>Years at this Address</mat-label>
                    <mat-error>Please enter address duration</mat-error>
                </mat-form-field>



                <mat-divider style="margin-top: 10px"></mat-divider>
                <mat-label style="font-style: italic; font-weight: bold">Fostering Preferences</mat-label>

                <table>
                    <tr>
                        <td> <mat-label id="speciesLabel">Species</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Species" aria-labelledby="speciesLabel" name="fosterSpecies" [(ngModel)]="fosterdata.fosterSpecies" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Dog</mat-radio-button>
                                <mat-radio-button value="2">Cat</mat-radio-button>
                                <mat-radio-button value="3">Both</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td> <mat-label id="genderLabel">Gender</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Gender" aria-labelledby="genderLabel" name="fosterPetGender" [(ngModel)]="fosterdata.fosterPetGender" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Both</mat-radio-button>
                                <mat-radio-button value="2">Male</mat-radio-button>
                                <mat-radio-button value="3">Female</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td> <mat-label id="sizeLabel">Size</mat-label> </td>
                        <td>
                            <mat-radio-group aria-label="Size" aria-labelledby="sizeLabel" name="fosterPetSize" [(ngModel)]="fosterdata.fosterPetSize" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Any</mat-radio-button>
                                <mat-radio-button value="2">Extra Large</mat-radio-button>
                                <mat-radio-button value="3">Large</mat-radio-button>
                                <mat-radio-button value="4">Medium</mat-radio-button>
                                <mat-radio-button value="5">Small</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>

                </table>

                <mat-divider style="margin-top: 10px"></mat-divider>
                <mat-label style="font-style: italic; font-weight: bold">Your Pets and Foster Experience</mat-label>
                <br />
                <br />

                <mat-form-field style="width: 100%">
                    <mat-label>What experience do you have with animals?</mat-label>
                    <textarea placeholder="Provide details" matInput name="petExperience" [(ngModel)]="fosterdata.petExperience" [disabled]="entireFormEnabled"></textarea>
                </mat-form-field>
                <br />

                <mat-label id="ownedBeforeLabel">Have you ever owned a pet before?</mat-label>
                <mat-radio-group aria-label="Owned" aria-labelledby="ownedBeforeLabel" name="ownedBefore" [(ngModel)]="fosterdata.ownedBefore" [disabled]="entireFormEnabled">
                    <mat-radio-button value="1" [checked]="true">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Type/Breed" required maxlength="18" name="breedType" [(ngModel)]="fosterdata.breedType" [disabled]="entireFormEnabled">
                    <mat-label>Type/Breed</mat-label>
                    <mat-error>Please enter description</mat-error>
                </mat-form-field>
                <br />

                <mat-label id="fosteredBeforeLabel">Have you ever fostered a pet before?</mat-label>
                <mat-radio-group aria-label="Fostered" aria-labelledby="fosteredBeforeLabel" name="fosteredBefore" [(ngModel)]="fosterdata.fosteredBefore" [disabled]="entireFormEnabled">
                    <mat-radio-button value="1" [checked]="true">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>

                <br />
                <mat-form-field style="width: 100%">
                    <mat-label>Please provide your foster care experience</mat-label>
                    <textarea placeholder="Provide details" matInput name="fosterExperience" [(ngModel)]="fosterdata.fosterExperience" [disabled]="entireFormEnabled"></textarea>
                </mat-form-field>

                <table>
                    <tr>
                        <td>Do you currently own any pets?</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Name" maxlength="128" required name="firstPet" [(ngModel)]="fosterdata.firstPet" [disabled]="entireFormEnabled">
                                <mat-label>Pet Name</mat-label>
                                <mat-error>Please enter pet name</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="number" max="50" placeholder="Years" required name="firstYears" [(ngModel)]="fosterdata.firstYears" [disabled]="entireFormEnabled">
                                <mat-label>Years Owned</mat-label>
                                <mat-error>Please enter years owned</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-radio-group aria-label="gender" aria-labelledby="genderLabel" name="firstGender" [(ngModel)]="fosterdata.firstGender" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Male</mat-radio-button>
                                <mat-radio-button value="2">Female</mat-radio-button>
                            </mat-radio-group>
                        </td>
                        <td>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" name="spayedNeutered1" [(ngModel)]="fosterdata.spayedNeutered1" [disabled]="entireFormEnabled">Spayed/Neutered</mat-checkbox>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Name" maxlength="128" required name="secondPet" [(ngModel)]="fosterdata.secondPet" [disabled]="entireFormEnabled">
                                <mat-label>Pet Name</mat-label>
                                <mat-error>Please enter pet name</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="number" max="50" placeholder="Years" required name="secondYears" [(ngModel)]="fosterdata.secondYears" [disabled]="entireFormEnabled">
                                <mat-label>Years Owned</mat-label>
                                <mat-error>Please enter years owned</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-radio-group aria-label="gender" aria-labelledby="genderLabel" name="twoGender" [(ngModel)]="fosterdata.twoGender" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Male</mat-radio-button>
                                <mat-radio-button value="2">Female</mat-radio-button>
                            </mat-radio-group>
                        </td>
                        <td>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" name="spayedNeutered2" [(ngModel)]="fosterdata.spayedNeutered2" [disabled]="entireFormEnabled">Spayed/Neutered</mat-checkbox>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Name" maxlength="128" required name="thirdPet" [(ngModel)]="fosterdata.thirdPet" [disabled]="entireFormEnabled">
                                <mat-label>Pet Name</mat-label>
                                <mat-error>Please enter pet name</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="number" max="50" placeholder="Years" required name="thirdYears" [(ngModel)]="fosterdata.thirdYears" [disabled]="entireFormEnabled">
                                <mat-label>Years Owned</mat-label>
                                <mat-error>Please enter years owned</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-radio-group aria-label="gender" aria-labelledby="genderLabel" name="thirdGender" [(ngModel)]="fosterdata.thirdGender" [disabled]="entireFormEnabled">
                                <mat-radio-button value="1" [checked]="true">Male</mat-radio-button>
                                <mat-radio-button value="2">Female</mat-radio-button>
                            </mat-radio-group>
                        </td>
                        <td>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" name="spayedNeutered3" [(ngModel)]="fosterdata.spayedNeutered3" [disabled]="entireFormEnabled">Spayed/Neutered</mat-checkbox>
                            </section>
                        </td>
                    </tr>
                </table>

                <table style="width: 100%">
                    <tr>
                        <td>
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Name" maxlength="128" required name="vetName" [(ngModel)]="fosterdata.vetName" [disabled]="entireFormEnabled">
                                <mat-label>Veterinary name</mat-label>
                                <mat-error>Please enter veterinary name</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Phone</mat-label>
                                <mat-error>Please enter veterinary phone</mat-error>
                                <span matPrefix>+1 &nbsp;</span>
                                <input type="tel" matInput placeholder="555-555-1234" maxlength="18" required name="vetPhone" [(ngModel)]="fosterdata.vetPhone" [disabled]="entireFormEnabled">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <mat-form-field style="width: 40%">
                    <input matInput type="number" min="0" max="24" placeholder="Hours" required name="hoursAlone" [(ngModel)]="fosterdata.hoursAlone" [disabled]="entireFormEnabled">
                    <mat-label>Hours per day animal be left alone</mat-label>
                    <mat-error>Please enter description</mat-error>
                </mat-form-field>
                <br />

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Brief Explanation" maxlength="180" required name="dailyOccupancy" [(ngModel)]="fosterdata.dailyOccupancy" [disabled]="entireFormEnabled">
                    <mat-label>Where will the animals stay during the day?</mat-label>
                    <mat-error>Please enter description</mat-error>
                </mat-form-field>

                <br />

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Brief Explanation" maxlength="180" required name="nightlyOccupancy" [(ngModel)]="fosterdata.nightlyOccupancy" [disabled]="entireFormEnabled">
                    <mat-label>Where will the animals stay during the night?</mat-label>
                    <mat-error>Please enter description</mat-error>
                </mat-form-field>

                <br />

                <mat-label id="crateTrainedLabel">Have you ever crate trained an animal?</mat-label>
                <mat-radio-group aria-label="Crate" aria-labelledby="crateTrainedLabel" name="crateTrained" [(ngModel)]="fosterdata.crateTrained" [disabled]="entireFormEnabled">
                    <mat-radio-button value="1" [checked]="true">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>

                <table>
                    <tr>
                        <td>How many adults are living in the house?</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Name" maxlength="128" required name="adultOne" [(ngModel)]="fosterdata.adultOne" [disabled]="entireFormEnabled">
                                <mat-label>Adult #1</mat-label>
                                <mat-error>Please enter name</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="number" min="0" max="99" placeholder="Enter  Age" required name="adultOneAge" [(ngModel)]="fosterdata.adultOneAge" [disabled]="entireFormEnabled">
                                <mat-label>Age</mat-label>
                                <mat-error>Please enter age</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Relation" maxlength="128" required name="adultOneRelation" [(ngModel)]="fosterdata.adultOneRelation" [disabled]="entireFormEnabled">
                                <mat-label>Relationship</mat-label>
                                <mat-error>Please enter relationship</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Name" maxlength="128" required name="adultTwo" [(ngModel)]="fosterdata.adultTwo" [disabled]="entireFormEnabled">
                                <mat-label>Adult #2</mat-label>
                                <mat-error>Please enter name</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="number" min="0" max="99" placeholder="Enter  Age" required name="adultTwoAge" [(ngModel)]="fosterdata.adultTwoAge" [disabled]="entireFormEnabled">
                                <mat-label>Age</mat-label>
                                <mat-error>Please enter age</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Relation" maxlength="128" required name="adultTwoRelation" [(ngModel)]="fosterdata.adultTwoRelation" [disabled]="entireFormEnabled">
                                <mat-label>Relationship</mat-label>
                                <mat-error>Please enter relationship</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>How many children are living in the house?</td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Name" maxlength="128" required name="childOne" [(ngModel)]="fosterdata.childOne" [disabled]="entireFormEnabled">
                                <mat-label>Child #1</mat-label>
                                <mat-error>Please enter name</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="number" min="0" max="50" placeholder="Enter  Age" required name="childOneAge" [(ngModel)]="fosterdata.childOneAge" [disabled]="entireFormEnabled">
                                <mat-label>Age</mat-label>
                                <mat-error>Please enter age</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Relation" maxlength="128" required name="childOneRelation" [(ngModel)]="fosterdata.childOneRelation" [disabled]="entireFormEnabled">
                                <mat-label>Relationship</mat-label>
                                <mat-error>Please enter relationship</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Name" maxlength="128" required name="childTwo" [(ngModel)]="fosterdata.childTwo" [disabled]="entireFormEnabled">
                                <mat-label>Child #2</mat-label>
                                <mat-error>Please enter name</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="number" min="0" max="50" placeholder="Enter  Age" required name="childTwoAge" [(ngModel)]="fosterdata.childTwoAge" [disabled]="entireFormEnabled">
                                <mat-label>Age</mat-label>
                                <mat-error>Please enter age</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Relation" maxlength="128" required name="childTwoRelation" [(ngModel)]="fosterdata.childTwoRelation" [disabled]="entireFormEnabled">
                                <mat-label>Relationship</mat-label>
                                <mat-error>Please enter relationship</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <mat-label id="allergiesLabel">Does anyone in the household have any allergies?</mat-label>
                <mat-radio-group aria-label="Allergies" aria-labelledby="allergiesLabel" name="anyoneAllergic" [(ngModel)]="fosterdata.anyoneAllergic" [disabled]="entireFormEnabled">
                    <mat-radio-button value="1" [checked]="true">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
                <br />

                <mat-label id="childrenLabel">If no children are living in the house will children be visiting?</mat-label>
                <mat-radio-group aria-label="Children" aria-labelledby="childrenLabel" name="childrenHome" [(ngModel)]="fosterdata.childrenHome" [disabled]="entireFormEnabled">
                    <mat-radio-button value="1" [checked]="true">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
                <br />

                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Brief Explanation" maxlength="180" required name="accomodations" [(ngModel)]="fosterdata.accommodations" [disabled]="entireFormEnabled">
                    <mat-label>What accommodations will be made for the animal if traveling?</mat-label>
                </mat-form-field>

                <br />

                <table style="width: 100%">
                    <tr>
                        <td>Please list three references:</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Name" maxlength="128" required name="referenceOne" [(ngModel)]="fosterdata.referenceOne" [disabled]="entireFormEnabled">
                                <mat-label>Reference #1</mat-label>
                                <mat-error>Please enter reference</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Phone</mat-label>
                                <mat-error>Please enter reference phone</mat-error>
                                <span matPrefix>+1 &nbsp;</span>
                                <input type="tel" matInput placeholder="555-555-1234" maxlength="18" required name="firstPhone" [(ngModel)]="fosterdata.firstPhone" [disabled]="entireFormEnabled">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Name" maxlength="128" required name="referenceTwo" [(ngModel)]="fosterdata.referenceTwo" [disabled]="entireFormEnabled">
                                <mat-label>Reference #2</mat-label>
                                <mat-error>Please enter reference</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Phone</mat-label>
                                <mat-error>Please enter reference phone</mat-error>
                                <span matPrefix>+1 &nbsp;</span>
                                <input type="tel" matInput placeholder="555-555-1234" maxlength="18" required name="secondPhone" [(ngModel)]="fosterdata.secondPhone" [disabled]="entireFormEnabled">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Name" maxlength="128" required name="referenceThree" [(ngModel)]="fosterdata.referenceThree" [disabled]="entireFormEnabled">
                                <mat-label>Reference #3</mat-label>
                                <mat-error>Please enter reference</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Phone</mat-label>
                                <mat-error>Please enter reference phone</mat-error>
                                <span matPrefix>+1 &nbsp;</span>
                                <input type="tel" matInput placeholder="555-555-1234" maxlength="18" required name="thirdPhone" [(ngModel)]="fosterdata.thirdPhone" [disabled]="entireFormEnabled">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

            </div>

            <div *ngIf="formdata.typeAccount=='4'">
            </div>

            <div>
                <button mat-raised-button matStepperPrevious color="primary" style="margin-right: 10px" [disabled]="entireFormEnabled">Back</button>
                <button mat-raised-button matStepperNext color="primary" [disabled]="entireFormEnabled">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Check your information and submit</ng-template>
        <p>Once you click the <b>'Submit'</b> button you should receive a confirmation email, with additional instructions.</p>
        <p>If you dont receive the confirmation email, please notify to <a href="mailto:admin@cosmoapp.org">admin@cosmoapp.org</a></p>

        <div>
            <button mat-raised-button matStepperPrevious color="primary" style="margin-right: 10px" [disabled]="entireFormEnabled">Back</button>
            <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="entireFormEnabled">Submit</button>
            <!--            <button mat-raised-button (click)="stepper.reset()" color="primary">Reset</button>-->
        </div>
    </mat-step>
</mat-stepper>
